.withdrawal {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.result {
  text-align: center;
  width: 94%;
}

.back-arrow {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 50px;
  height: 50px;
  border: solid 2px;
  border-radius: 50%;
  border-color: white;
  font-size: 40px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.back-arrow img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.withdrawal .heading {
  font-size: 40px;
}
.result .amount {
  font-size: 80px;
  margin: 2% 0;
}
.result .amountSign {
  font-size: 80px;
  width: 70px;
}

.breakdown {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.box {
  border: 1px solid white;
  padding: 1%;
  /* margin: 5px 0; */
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
}
.coinCircle {
  width: 50px;
  height: 50px;
  border: white solid;
  border-radius: 50%;
  background-color: white;
  margin-left: 20%;
}
.billImage {
  margin-left: 4%;
}
.billImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.boxtext {
  font-size: 40px;
  right: 10px;
  margin-left: 15%;
}

.footer {
  font-size: 40px;
  margin-top: 5%;
}

@media (max-width: 480px) {
  .back-arrow {
    top: 40px;
    left: 33px;
    width: 30px;
    height: 30px;
    font-size: 22px;
  }
  .withdrawal .heading {
    font-size: 20px;
    margin-top: -75%;
  }
  .result .amount {
    font-size: 40px;
    margin: 20% 0;
  }
  .box {
    width: 90%;
    height: 58px;
  }
  .billImage {
    margin-left: 1%;
    width: 43%;
  }
  .boxtext {
    font-size: 14px;
    right: 10px;
    margin-left: 4%;
  }
  .coinCircle {
    width: 15px;
    height: 15px;

    margin-left: 8%;
  }
  .footer {
    font-size: 20px;
    margin-top: 15%;
  }
}
